
<%include ../partials/header %>
   <div class="container">
     <div class="row">
       <div class="col-md-3">
         <ul>
           <li>1</li>
           <li>2</li>
           <li>3</li>
           <li>4</li>

         </ul>
       </div>
       <div class="col-md-9">
          <header class="jumbotron ind  ">
            <div class="row">

              
                <div class="col-lg-6 col-sm-12 col-xs-12">
                  <div class="pull-right"><p><h3>:موقعیت &nbsp; </h3><%=foundItem.location%></p></div>

                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12">
                  <div class="pull-right"><h4>نوع: &nbsp;   <%=foundItem.category%></h4></div>
                  <div class="text-center"><h4>قیمت: &nbsp;   <%=foundItem.price%></h4></div>
                  <div class="pull-right"><h4>تعداد اطاق: &nbsp;   <%=foundItem.number_of_rooms%></h4></div>
                  <div class="text-center"><h4>تعداد منزل:&nbsp;    <%=foundItem.number_of_floors%></h4></div>
                  <div class="pull-right"><h4>نمبر منزل:&nbsp;    <%=foundItem.floor_number%></h4></div>

                  <div class="text-center"><h4>نمبر منزل:&nbsp;    <%=foundItem.floor_number%></h4>
                  </div>
                  <div class="pull-right">

                    <h4>ولایت:&nbsp;    <%=foundItem.provence%></h4>
                  </div>
                  

                </div>
              

            </div>
            
          </header>
          <div class="well">
            <h5 class="pull-right">:عکسها </h5>
            <div class="row"s>
              <%for(var i=0;i<5;i++){%>
                 <div class="col-md-6 col-sm-12">
                   <div class="thumbnail">
                     
                     <img src="https://www.w3schools.com/css/paris.jpg">

                   </div>
                
                 </div>

              <%}%>
              
            </div>


          </div>
       </div>


     </div>
   </div>
<%include ../partials/footer %>