<!DOCTYPE html>
<%include ../partials/header %>
   <div class="container">
     <div class="row">
       <div class="col-md-3 similar-items">
       <h2>:Similar items</h2>
         <ul>
           <li>1</li>
           <li>2</li>
           <li>3</li>
           <li>4</li>

         </ul>
       </div>
       <div class="col-md-9">
          <header class="jumbotron">
            <div class="row">

              
                <div class="col-lg-6 col-sm-12">
                  <div class="pull-right"><h3>موقعیت: &nbsp; </h3>
                      <p><%=foundHome.location%></p>
                  </div>
                </div>

                <div class="col-lg-6 col-sm-12">
                  <div class="pull-right"><h4>نوع: &nbsp;   <%=foundHome.category%></h4></div>

                  <div class="text-center"><h4>قیمت: &nbsp;    
                       <%=foundHome.price%></h4>
                  </div>
                  <div class="pull-right"><h4>تعداد اطاق:
                       <%=foundHome.number_of_rooms%></h4>
                  </div>
                  <div class="text-center"><h4>تعداد منزل:
                       <%=foundHome.number_of_floors%></h4>
                  </div>
                  <div class="pull-right"><h4>نمبر منزل:    <%=foundHome.floor_number%></h4></div>
                  <div class="text-center">
                    <h4>ولایت:&nbsp;    <%=foundHome.provence%></h4>
                  </div>
                  

                </div>
              

            </div>
            
          </header>
          <div class="well">
            <h5 class="pull-right">:عکسها </h5>
            <div class="row">
              <%foundHome.images.forEach((image)=>{%>
                 <div class="col-md-6 col-sm-12">
                   <div class="thumbnail">
                     <img src="/uploads/<%=image%>">
                   </div>
                
                 </div>

              <%})%>
              
            </div>


          </div>
       </div>


     </div>
   </div>
<%include ../partials/footer %>